<div class="jumbotron jumbotron-fluid">
  <div class="container-fluid">
    <h1 class="display-4"><%= listing.product %></h1>
    <p class="lead">
      <div id="<%= dom_id listing %>">
      <p>
        <strong>Buy or Sell:</strong>
        <%= listing.buysell %>
      </p>

      <p>
        <strong>Price:</strong>
        <%= listing.price %>
      </p>

      <p>
        <strong>Contacts:</strong>
        <%= listing.contacts %>
      </p>

      <p>
        <strong>Description:</strong>
        <%= listing.description %>
      </p>

      <p>
        <strong>Shipping or Local:</strong>
        <%= listing.password %>
      </p>
      <%= link_to "Edit", edit_listing_path(@listing), class:"btn btn-secondary" %>
      <%= link_to "Back", listings_path, class:"btn btn-dark" %> <br/> <br/>
      <%= button_to 'Delete', @listing, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
      </div>
    </p>
  </div>
</div>

<p style="color: green"><%= notice %></p>
