<p style="color: green"><%= notice %></p>
<div class="container-fluid">
  <h1>Listings</h1>

  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th scope="col">Type</th>
        <th scope="col">Product</th>
        <th scope="col">Price</th>
        <th scope="col">Contacts</th>
        <th scope="col">Description</th>
        <th scope="col">Link</th>
      </tr>
    </thead>


      <tbody>
      <% @listings.each do |listing| %>
        <tr>
        <td> <%= listing.buysell %> </td>
        <td> <%= listing.product %> </td>
        <td> <%= listing.price %> </td>
        <td> <%= listing.contacts %> </td>
        <td> <%= listing.description %> </td>
        <td> <%= link_to "Show this listing", listing%></td>
        </tr>
      <% end %>
      </tbody>
  </table>
  <%= link_to "New listing", new_listing_path, class:"btn btn-dark" %>
</div>